<div class="dialogueHead">
  <!-- TODO: icons and foo -->
  <span class="title">{{_dialogueTitle}}</span>
  <button class="close">close</button>
</div>
<div class="dialogueContent">{{> _dialogueView }}</div>
