<section class="_librariumMain">
  <h1>RPG Librarium Aachen e.V. ‒ Liberation</h1>
  <p>
    Tritt ein, in die digitale Bücherverwaltung des Vereins!<br/>
    Hier findest du unter Anderem Informationen zum aktuellen Bestand.
  </p>
  <ul class="linkBoxList">
    <li><a href="#systems">Alle Systeme</a></li>
    <li><a href="#titles">Alle Titel</a></li>
  </ul>
</section>
