<section>
    <h1>You are important!</h1>
    <ul class="linkBoxList">
      <li><a href="#allSystems">Alle Systeme</a></li>
      <li><a href="#allTitles">Alle Titel</a></li>
      <li><a href="#allBooks">Alle Bücher</a></li>
      <li><a href="#allAccounts">Alle Accounts</a></li>
      <li><a href="#allGuilds">Alle Gilden</a></li>
    </ul>

  </section>
</section>
<section>
  <h3>Neues System</h3>
  <form method="post" id="postRpgsystem">
    <table>
      <tr>
        <td><label for="fRpgName">Name</label></td>
        <td><input type="text" id="fRpgName" name="fRpgName" form="postRpgsystem"><br></td>
      </tr>
      <tr>
        <td><label for="fRpgShort">Short</label></td>
        <td><input type="text" id="fRpgShort" name="fRpgShort" form="postRpgsystem"><br></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Abschicken"></td>
      </tr>
    </table>
    <p class="message"></p>
  </form>
</section>
<section>
  <h3>Neuer Titel</h3>
  <form method="post" id="postTitle">
    <table>
      <tr>
        <td><label for="fTitleRpgsystem">System</label></td>
        <td>
            <!-- TODO: Nicer dropdown -->
            <select id="fTitleRpgsystem" name="fTitleRpgsystem">
              {{#rpgsystems}}
                <option value="{{id}}">{{#shortname}}[{{.}}] {{/shortname}}{{name}}</option>
              {{/rpgsystems}}
            </select>
        </td>
      </tr>
      <tr>
        <td><label for="fTitleName">Name</label></td>
        <td><input type="text" id="fTitleName" name="fTitleName" form="postTitle"><br></td>
      </tr>
      <tr>
        <td><label for="fTitleLanguage">Sprache</label></td>
        <td><input type="text" id="fTitleLanguage" name="fTitleLanguage" form="postTitle"><br></td>
      </tr>
      <tr>
        <td><label for="fTitlePublisher">Verlach</label></td>
        <td><input type="text" id="fTitlePublisher" name="fTitlePublisher" form="postTitle"><br></td>
      </tr>
      <tr>
        <td><label for="fTitleYear">Jahr</label></td>
        <td><input type="number" id="fTitleYear" name="fTitleYear" form="postTitle" value=0><br></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Abschicken"></td>
      </tr>
    </table>
    <p class="message"></p>
  </form>
</section>
<section>
  <h3>Neues Buch</h3>
  <form method="post" id="addBook">
    <div class="formTable">
      <div class="row">
        <div class="label"><label for="addBook-guild"/>Gilde</div>
        <div class="input"><select id="addBook-guild" name="guild" required>
          {{#guilds}}
            <option value="{{id}}">{{name}}{{#address}} ({{.}}){{/address}}</option>
          {{/guilds}}
        </select></div>
      </div><div class="row">
        <div class="label"><label for="addBook-title"/>Titel</div>
        <div class="input"><select id="addBook-title" name="title" required>
          {{#titles}}
            <option value="{{id}}">{{name}} ({{year}}; {{_system.name}})</option>
          {{/titles}}
        </select></div>
      </div><div class="row">
        <div class="label"><label for="addBook-quality"/>Zustand</div>
        <div class="input"><input id="addBook-quality" name="quality" type="text"/></div>
      </div><div class="row">
        <div class="label"><label for="addBook-inventory"/>Inventarnummer</div>
        <div class="input"><input id="addBook-inventory" name="inventory" type="number" required/></div>
      </div><div class="row">
        <div class="label"></div>
        <div class="input"><input type="submit" value="Erstellen"/></div>
      </div>
    </div>
    <p class="message"></p>
  </form>
</section>