<section>
  {{#authenticated}}
    <h1>{{name}}</h1>
    <dl class="profileDetails vTab">
      <div class="row">
        <dt>e-Mail</dt>
        <dd>{{email}}</dd>
      </div>
      <div class="row">
        <dt>UID</dt>
        <dd>{{uid}}</dd>
      </div>
      <div class="row">
        <dt>Vorname</dt>
        <dd>{{givenName}}</dd>
      </div>
      <div class="row">
        <dt>Nachname</dt>
        <dd>{{familyName}}</dd>
      </div>
      <div class="row">
        <dt>Name</dt>
        <dd>{{fullName}}</dd>
      </div>
      <div class="row">
        <dt>Scopes</dt>
        <dd>
          <ul>
            {{#scopes}}
            <li>{{.}}</li>
            {{/scopes}}
          </ul>
        </dd>
      </div>
    </dl>
  {{/authenticated}}
  {{^authenticated}}
    <h1>You shall not pass!</h1>
  {{/authenticated}}
</section>
